.md-tab{
  display:none
}
.md-tab[active]{
  display:flex;
}

md-dialog#dialog-lector form{display:none;}
md-dialog#dialog-lector form[active]{display:flex;}
#qr-code-reader-container video{border-radius:16px}
/* md-dialog#dialog-lector.dialog-active {
}

md-dialog#dialog-lector {
  transition: opacity 0.3s ease-in-out !important;
} */

md-dialog form::-webkit-scrollbar{display:none !important}
md-icon.dynamic{--md-icon-size: ;}
md-icon.pretty{
  --md-icon-size: 64px;
  padding:24px;
  background:var(--md-sys-color-surface-container-highest); 
  border-radius:88px;
}
md-icon.pretty.small{
  --md-icon-size: 24px;
  padding:8px;
  border-radius:64px;
}
md-icon.absolute-card{
  --md-icon-size: 164px;
  font-variation-settings: 'FILL' 1;
  opacity: 0.2;
  position: absolute;
  top:0;
  /* top: 50%;
  transform: translateY(-50%); */

  right: -32px;
}

md-filled-tonal-button.big, md-filled-button.big, md-outlined-button.big {
  /* height: 64px; */
  height: 48px;
  /* --md-filled-tonal-button-padding: 16px 32px;
  --md-filled-tonal-button-font-size: 16px;
  --md-filled-tonal-button-border-radius: 16px; */
}
md-outlined-icon-button.big, md-filled-tonal-icon-button.big{
  transition:width 125ms cubic-bezier(0,0,0.5,1);
  width:48px;
  height:48px;
}
md-outlined-icon-button.big:hover, md-filled-tonal-icon-button.big:hover{
  width:64px;
}